.carts_div {
	position: relative;
	/* text-align: center; */
	align-content: center;
	padding: 20px 400px 20px 400px;
}

.carts_tile2, .carts_tile3, .carts_tile4 {
	width: 20%; /* 각 열의 너비를 20%로 설정 (총 100%를 유지) */
}

.carts_title {
	text-align: center;
	padding: 0px 0px 110px 0px
}

.carts_tile1 {
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

.carts_tile2 {
	border-bottom: 1px solid #444444;
	padding: 10px;
	content-align: center;
	text-align: center;
}

.carts_tile3 {
	border-bottom: 1px solid #444444;
	padding: 10px;
	content-align: center;
	text-align: center;
}

.carts_tile4 {
	border-bottom: 1px solid #444444;
	padding: 10px;
}

.all_select_container {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 160px;
	margin-left: 400px;
	display: flex;
	align-items: center;
}

.allSelectCarts_id {
	margin-top: -7px;
	margin-right: 5px;
}

.all_select_container2 {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 160px;
	margin-right: 400px;
	display: flex;
	align-items: center;
}

.carts_Buy {
	margin-top: 100px;
	margin-: 200px;
	text-align: center;
}

.buyButton {
	padding: 20px 40px
}

input[type=checkbox] {
	zoom: 1.5;
}

.total {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 130px;
	margin-right: 400px;
	display: flex;
	align-items: center;
}

.have_point {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 100px;
	margin-right: 400px;
	display: flex;
	align-items: center;
}