div#wrap {
	background: #ddd;
}

header#header {
	background: #fdd;
}

nav#nav {
	background: #dfd;
}

section#container {
	background: #ddf;
}

div.content {
	background: #eee;
}

aside#aside {
	background: #fef;
}

footer#footer {
	background: #ffe;
}

div#warp, header#header, nav#nav, section#container, div.content, aside#aside,
	footer#footer {
	padding: 10px;
}

nav#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav#nav ul li {
	background: #eee;
	padding: 10px;
	display: inline-block;
}