<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sara.mapper.UserMapper">
	<insert id="reg" parameterType="org.sara.domain.UserVO">
		INSERT INTO users (
				name		AS name,
				email		AS email,
				pw			AS password,
				address		AS address,
				mobile		AS mobile,
				gender		AS gender,
				point		
		) VALUES (
				#{name},
				#{email},
				#{pw},
				#{address},
				#{mobile},
				#{gender},
				10000
		)
	</insert>
</mapper>