<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sara.mapper.UsersMapper">
	<insert id="registerUser">
		INSERT INTO users (
				name		AS name,
				email		AS id,
				pw			AS password,
				address		AS address,
				gender		AS sex
		) VALUES (
				#{name},
				#{email},
				#{pw},
				#{address},
				#{gender}
		)
	</insert>
</mapper>